body{
	font-family: 'Josefin Sans';
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
}

h1 {
	text-transform: uppercase;
	font-style: normal;
	font-size: 53px;
	letter-spacing: 2.5px;
	padding-top: 10px;
	text-align: center;
}

#howTo{
	font-size: 18px;
	font-style: italic;
}

#dropdown{
	width: 105px;
}

#calculator_peanuts{
	float: right;
	position: relative;
	right: 100px;
	bottom: 400px;
}

#all_calculator_info{
	padding-top: 40px;
	padding-left: 100px;
	width: 400px;
}

