/*The values for the h1's and body listed below are to be applied across all pages. 
That is why it does not specify what page it belongs to.*/

h1 {
	text-transform: uppercase;
	font-style: normal;
	font-size: 53px;
	letter-spacing: 2.5px;
	padding-top: 10px;
	text-align: center;
}

body{
	font-family: 'Josefin Sans';
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
	padding-bottom: 40px;
}

/*INDEX PAGE*/
/*--------------------------------------------------------*/

#index_heading2 {
	text-align: center;
	font-size: 45px;
	padding-top: 30px;
}

.index_paragraphs{
	text-indent: 50px;
}

#index_who{
	text-align: justify;
	margin: auto;
	width: 70%;
	padding-left: 20px;
	padding-bottom: 20px;
}

#index_selfie {
	float:left;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 25px;
}

img.index{
	width: 30%;
	float: left;
	margin-left: 10px;
	padding-bottom: 10px;
}

#index_favorite-artists{
	margin: auto;
	text-align: center;
}

/*HTML AND CSS*/
/*--------------------------------------------------------*/

#htmlcss_heading2 {
	text-align: center;
	font-size: 45px;
}

#html_css_paragraph {
	text-align: justify;
}

.htmlcss_all_information {
	margin: auto;
	width: 80%;
	text-align: justify;
	padding-top: 30px;
	padding-bottom: 15px;
}

.HTML, .CSS, .attributes {
	text-align: center;
	padding-bottom: 15px;
	padding-top: 15px;
}

.CSS, .attributes {
	width: 70%;
	margin: auto;
}

.history {
	width: 50%;
}

#htmlcss_table {
	width: 47%;
	float: right;
	font-size: 90%;
	margin-left: 50px;
	margin-top: 105px;
}

.htmlcss_td {
	text-align: justify;
}

.htmlcss_th {
	font-weight: bold;
	text-align: center;
}

#htmlcss_table, .htmlcss_td, .htmlcss_th {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
}

#berners-lee, #hakon{
	height: 335px;
	float: right;
	padding-top: 15px;
}

#hakon {
	padding-left: 60px;
}

/*INFO SITE*/
/*--------------------------------------------------------*/

#info_site_information{
	position: absolute;
	top: 170px;
	text-align: justify;
	margin-left: 17.5cm;
	padding-right: 30px;
	padding-top: 30px;
}

#info_site_images{
	width: 70%;
	padding-top: 30px;
	margin-bottom: 7.5cm;
	margin-left: 30px;

}

#item3{
	padding-top: 10px;
	clear: both;	
}

/*INSULT BUTTON*/
/*--------------------------------------------------------*/

/*#insultButton{
	position: relative;
	width: 200px;
	height: 150px;
	text-align: center;
	margin-left: 30px;
	background-color: black;
	color: white;
	font-family: 'Josefin Sans';
	font-size: 60px;
	border: none;
	outline-style: none;
	opacity: 1;
}

.change:hover {
cursor: pointer;
background-color: #F89900;
}*/

input:focus{
	outline:none;
}

input:hover{
	opacity: 0.75;
}

#insultButton{
	margin-left: 10px;
	padding-top: 30px;
}

#domicsButton{
	width: 45%;
}

#insultHowTo{
	position: absolute;
	top: 150px;
	text-align: justify;
	margin-left: 17.5cm;
	padding-right: 80px;
	padding-top: 30px;
}

#display{
	text-transform: uppercase;
}

#school-appropriate{
	font-style: italic;
}

/*CALCULATOR*/
/*--------------------------------------------------------*/

#howTo{
	font-size: 18px;
	font-style: italic;
}

#dropdown{
	width: 105px;
}

#calculator_peanuts{
	float: right;
	position: relative;
	right: 100px;
	bottom: 400px;
}

#all_calculator_info{
	padding-top: 40px;
	padding-left: 100px;
	width: 400px;
}

/*VINDINIUM*/
/*--------------------------------------------------------*/

#vindinium_explanation_information{
	text-align:justify;
	position:absolute;
	margin-left: 20%; 
	margin-right: 20%;
	padding-top: 2.5%
}

#vindinium_explanation_rulez{
	text-align:justify;
	width: 80%;
	margin-left:5%;
	font-size: 18px;
}

li{
	padding: 11px;
}

#vindinium_explanation_knights_img{
	float:right;
	padding-left:2.5%;
	padding-right:2.5%;
	width: 35%;
}

#vindinium_explanation_img{
	width: 70%;
	display:block;
	margin-left: 15%;
	padding-bottom: 3.5%;
	clear:both;
}

#vindinium_pre_image{
	clear:both;
}

.vindinium_explanation_paragraph_break{
	padding-bottom:40px;
}
/*The stylings for the HTML and CSS page begin here.*/



